<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
             xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
             http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="jpa.trade" >
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>com.oilchem.trade.domain.City</class>
        <class>com.oilchem.trade.domain.CompanyType</class>
        <class>com.oilchem.trade.domain.Country</class>
        <class>com.oilchem.trade.domain.Customs</class>
        <class>com.oilchem.trade.domain.ExpTradeDetail</class>
        <class>com.oilchem.trade.domain.ExpTradeSum</class>
        <class>com.oilchem.trade.domain.ImpTradeDetail</class>
        <class>com.oilchem.trade.domain.ImpTradeSum</class>
        <class>com.oilchem.trade.domain.Log</class>
        <class>com.oilchem.trade.domain.ProductType</class>
        <class>com.oilchem.trade.domain.TradeType</class>
        <class>com.oilchem.trade.domain.Transportation</class>

        <properties>
            <property name="showSql" value="${hibernate.show_sql}" />
            <property name="generateDdl" value="true" />
            <property name="databasePlatform" value="${hibernate.dialect}" />
        </properties>
	</persistence-unit>
	<!--<persistence-unit name="jpa.com.oilchem.trade.plain">-->
		<!--<properties>-->
			<!--<property name="hibernate.dialect" value="${hibernate.dialect}" />-->
			<!--<property name="hibernate.connection.url" value="${db.jdbcUrl}" />-->
			<!--<property name="hibernate.connection.driver_class" value="${db.driverClass}" />-->
			<!--<property name="hibernate.connection.username" value="${${db.username}}" />-->
			<!--<property name="hibernate.connection.password" value="${db.password}" />-->
			<!--<property name="hibernate.hbm2ddl.auto" value="create-drop" /> -->
		<!--</properties>-->
	<!--</persistence-unit>-->
</persistence>
