*.class

# Package Files #
*.jar
*.war
*.ear

.idea/
target/
*.iml
.settings/
.project
.classpath
logs/
*.log
*~

#=========================
#eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.eml
*.userlibraries
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath