<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:dataSource_test.properties"/>


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${db.driverClass}"/>
        <property name="jdbcUrl" value="${db.jdbcUrl}"/>
        <property name="user" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="minPoolSize" value="5"/>
        <property name="maxPoolSize" value="20"/>
        <property name="unreturnedConnectionTimeout" value="1800"/>
        <property name="maxConnectionAge" value="3600"/>
        <property name="checkoutTimeout" value="7200"/>
        <!-- 最大空闲时间,3600秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
        <property name="maxIdleTime" value="3600" />
        <!--<property name="preferredTestQuery" value="select now()"/>-->
        <!--<property name="testConnectionOnCheckin" value="true"/>-->
    </bean>


    <!--<bean id="access_dataSource" class="org.apache.commons.dbcp.BasicDataSource">-->
        <!--<property name="driverClassName">-->
            <!--<value>sun.jdbc.odbc.JdbcOdbcDriver</value>-->
        <!--</property>-->
        <!--<property name="url">-->
            <!--<value>jdbc:odbc:Driver={Microsoft Access Drive (*.mdb)};-->
                <!--DBQ=D:\www\web\WEB-INF\db\data.mdb</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="jdbcTemplate"-->
          <!--class="org.springframework.jdbc.core.JdbcTemplate">-->
          <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="accessJdbcTemplate"-->
          <!--class="org.springframework.jdbc.core.JdbcTemplate"/>-->
        <!--<property name="dataSource" ref="access_dataSource"/>-->

</beans>