<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%p,%c{1},%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${project.root}/${project.artifactId}.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}%relative%thread%mdc%level%logger%msg</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>${project.root}/trade.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- org.springframework的日志记录器 -->
    <logger name="org.springframework" level="info">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="com.oilchem" level="info">
        <appender-ref ref="stdout"/>
    </logger>

    <!--全局级别配置在warn-->
    <root level="warn">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>


</configuration>