<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:repository="http://www.springframework.org/schema/data/repository"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/data/repository
       http://www.springframework.org/schema/data/repository/spring-repository-1.0.xsd">

    <context:property-placeholder location="classpath:dataSource.properties"/>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--<property name="packagesToScan" value="com.oilchem.trade.domain"/>-->
        <!--<property name=""-->
        <!--<property name="jpaVendorAdapter">-->
            <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">-->
                <!--<property name="showSql" value="${hibernate.show_sql}" />-->
                <!--<property name="generateDdl" value="true" />-->
                <!--<property name="databasePlatform" value="${hibernate.dialect}" />-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="persistenceUnitName" value="jpa.com.oilchem.trade" />-->
        <property name="persistenceXmlLocation" value="classpath:persistence.xml"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />



    <!--<bean id="dataSource"-->
          <!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="${db.driverClass}" />-->
        <!--<property name="url" value="${db.jdbcUrl}" />-->
        <!--<property name="username" value="${db.username}" />-->
        <!--<property name="password" value="${db.password}" />-->
    <!--</bean>-->

    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">-->
        <!--<property name="driverClass" value="${db.driverClass}"/>-->
        <!--<property name="jdbcUrl" value="${db.jdbcUrl}"/>-->
        <!--<property name="user" value="${db.username}"/>-->
        <!--<property name="password" value="${db.password}"/>-->
        <!--<property name="minPoolSize" value="5"/>-->
        <!--<property name="maxPoolSize" value="20"/>-->
        <!--&lt;!&ndash; 最大空闲时间,3600秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 &ndash;&gt;-->
        <!--<property name="maxIdleTime" value="3600" />-->
        <!--<property name="preferredTestQuery" value="select now()"/>-->
        <!--<property name="testConnectionOnCheckin" value="true"/>-->
    <!--</bean>-->


    <jpa:repositories base-package="com.oilchem.trade.dao">
        <!--<include-filter type="regex" expression="com.oilchem.trade.dao.custom.impl.*"/>-->
        <repository:exclude-filter type="regex" expression="com.oilchem.trade.dao.custom.impl.*"/>
        <repository:exclude-filter type="regex" expression="com.oilchem.trade.dao.*Custom"/>
    </jpa:repositories>
</beans>