<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:dataSource.properties"/>


    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">-->
        <!--<property name="driverClass" value="${db.driverClass}"/>-->
        <!--<property name="jdbcUrl" value="${db.jdbcUrl}"/>-->
        <!--<property name="user" value="${db.username}"/>-->
        <!--<property name="password" value="${db.password}"/>-->
        <!--<property name="minPoolSize" value="10"/>-->
        <!--<property name="maxPoolSize" value="50"/>-->
        <!--<property name="unreturnedConnectionTimeout" value="1800"/>-->
        <!--<property name="maxConnectionAge" value="3600"/>-->
        <!--<property name="checkoutTimeout" value="7200"/>-->
        <!--&lt;!&ndash; 最大空闲时间,3600秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 &ndash;&gt;-->
        <!--<property name="maxIdleTime" value="36000" />-->
        <!--<property name="preferredTestQuery" value="select now()"/>-->
        <!--<property name="testConnectionOnCheckin" value="true"/>-->
    <!--</bean>-->

    <!-- dataSource use BoneCP  -->
    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="idleConnectionTestPeriodInMinutes" value="${idleConnectionTestPeriodInMinutes}"/>
        <property name="idleMaxAgeInMinutes" value="${idleMaxAgeInMinutes}"/>
        <property name="maxConnectionsPerPartition" value="${maxConnectionsPerPartition}"/>
        <property name="minConnectionsPerPartition" value="${minConnectionsPerPartition}"/>
        <property name="partitionCount" value="${partitionCount}"/>
        <property name="acquireIncrement" value="${acquireIncrement}"/>
        <property name="statementsCacheSize" value="${statementsCacheSize}"/>
        <property name="releaseHelperThreads" value="${releaseHelperThreads}"/>
    </bean>


    <!--<bean id="access_dataSource" class="org.apache.commons.dbcp.BasicDataSource">-->
        <!--<property name="driverClassName">-->
            <!--<value>sun.jdbc.odbc.JdbcOdbcDriver</value>-->
        <!--</property>-->
        <!--<property name="url">-->
            <!--<value>jdbc:odbc:Driver={Microsoft Access Drive (*.mdb)};-->
                <!--DBQ=D:\www\web\WEB-INF\db\data.mdb</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="jdbcTemplate"-->
          <!--class="org.springframework.jdbc.core.JdbcTemplate">-->
          <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="accessJdbcTemplate"-->
          <!--class="org.springframework.jdbc.core.JdbcTemplate"/>-->
        <!--<property name="dataSource" ref="access_dataSource"/>-->

</beans>