<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds"><!-- appender -->
    <appender name="stdout">
        <layout>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS}[%p]: %m%n</pattern>
        </layout>
    </appender>
    <!-- log 通过 LoggerFactory.getLogger(name)取得 -->
    <logger name="myLog" additivity="true" level="info">
        <appender-ref ref="stdout"/>
    </logger>
    <!-- root 默认日志配置 -->
    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>