.doubleSelect .selectContent {
    float: left;
    width: 209px;
    text-align: center;
    margin: 10px;
}

.doubleSelect .doubleSelectButtons {
    width: 40px;
    margin-top: 120px;
    height: 300px;
}

.doubleSelect select {
    width: 209px;
    height: 330px;
    border: 1px solid #b5b8c8;
    padding: 0 1px;
}

.doubleSelect option {
    font-size: 1.2em;
    font-weight: normal;
    padding: 5px 3px 5px 7px;
}

.doubleSelect option:hover, .optionHover {
    background-color: #f1f1f1;
}

.doubleSelectButtons span {
    display: block;
    padding: 4px 10px;
    background-color: #e3e3e3;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #888686;
    margin: 3px 0;
    font-size: 13px;
    cursor: pointer;
}

.doubleSelectButtons span:hover {
    background-color: #c7dbf4;
    border-color: #719ae7;
}

.doubleSelectButtons #add {
    background-image: url(../images/icons/page-next.gif);
}

.doubleSelectButtons #addAll {
    background-image: url(../images/icons/page-last.gif);
}

.doubleSelectButtons #remove {
    background-image: url(../images/icons/page-prev.gif);
}

.doubleSelectButtons #removeAll {
    background-image: url(../images/icons/page-first.gif);
}

.doubleSelect .selectContent label {
    float: left;
    width: 196px;
    font-size: 1em;
    font-weight: bold;
    padding: 7px 1px 7px 10px;
    margin-bottom: 0;
    text-align: left;
    border: 1px solid #b5b8c8;
    border-bottom: none;
    background-color: #eeeeee;
}

.ui-corner-all {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;

    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;

    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;

    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}